<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
        <h1><i class="fa fa-home fa-fw"></i></h1>
        <p>Register or login</p>
        <a href="/users/signup" class="btn btn-primary btn-block mb-2">Register</a
        >
        <a href="/users/signin" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
    </div>